



.card{
   background:#fff;
   box-shadow:1px 1px 5px #444;
   border-radius:4px;
   margin:20px 0;
}
#page-wrapper{
   background:transparent;
}
.cardpadding{
   padding:0px 35px 35px 35px;
}
.navbar{
   background:#0052CC;
   border:0px;
   border-radius:0px;
/*box-shadow:0px 1px 3px #555;*/
}
.navbar-default .navbar-nav>li>a{
   color:#DEEBFF;
   font-family:roboto;
   font-weight:500;
   font-size:12px;
   padding:10px;
   margin:10px 0;
}
.navbar-default .navbar-nav>li>a:focus{
   color:#fff;
   background:#0747A6;
   padding:10px;
   margin:10px;
   border-radius:4px;
}
.navbar-default .navbar-nav>li>a:hover{
   color:#fff;
   background:#0747A6;
   border-radius:4px;
}
.navbar-brand{
   margin-top:5px;
   font-family:abel;
   font-weight:500;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus{
   color:#fff;
   background:#0747A6;
   padding:10px;
   margin:10px;
   border-radius:4px;
}
.navbar-default .navbar-nav>.active>a:hover{
   color:#fff;
   background:#0747A6;
   border-radius:4px;
}
.dropdown-menu>li>a{
   padding:10px;
}
.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus{
   color:#fff;
   background:#0747A6;
   padding:10px;
}
.dropdown-menu>.active>a:hover{
color:#fff;
background:#0747A6;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus{
color:#fff;
background:#0747A6;
padding:10px;
margin:10px;
border-radius:4px;
}
.navbar-default .navbar-nav>.open>a:hover{
color:#fff;
background:#0747A6;
border-radius:4px;
}
#page-wrapper{
min-height:0px !important;
}
#example_length label{display:none;}
#main_tab
{
/*width:400px;*/
height:900px;
margin:0 auto;
border:1px solid;
overflow:hidden;
}
#main_tab_sidebar
{
height:50px;
}
#main_tab_sidebar span
{
/*border:1px solid;*/
width:50px;
height:50px;
display:inline-block;
color: #fff;
cursor: pointer;
}
.tab_p
{
margin:0;
/*border:1px solid;*/
height:300px;
display:none;
background:#212529;
color: #fff;
font-size: 12px;
}
.tab_p:first-child, #first
{
display:block;
}
.error{
 color:red;
}
.breadcrumb{
/*background:#fff;*/
}
.breadcrumb a{
   color:#666;
}
.breadcrumb a:hover{
   text-decoration:none;
   color:#222;
}
.loader{
   display: table;
   background: rgba(0,0,0,0.5);
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   text-align: center;
   vertical-align: middle;
}
.loader-content{
   display:table-cell;
   vertical-align: middle;
   color:#fff;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}
input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
 /*range css*/
$range-width: 100% !default;

.range-slider {
  width: $range-width;
}
.range-slider__range {
  /*-webkit-appearance: none;*/
  width: calc(100% - (#{$range-label-width + 13px}));
  height: $range-track-height;
  border-radius: 5px;
  background: $range-track-color;
  outline: none;
  padding: 0;
  margin: 0;

  &::-webkit-slider-thumb {
    appearance: none;
    width: $range-handle-size;
    height: $range-handle-size;
    border-radius: 50%;
    background: $range-handle-color;
    cursor: pointer;
    transition: background .15s ease-in-out;

    &:hover {
      background: $range-handle-color-hover;
    }
  }

  &:active::-webkit-slider-thumb {
    background: $range-handle-color-hover;
  }

  &::-moz-range-thumb {
    width: $range-handle-size;
    height: $range-handle-size;
    border: 0;
    border-radius: 50%;
    background: $range-handle-color;
    cursor: pointer;
    transition: background .15s ease-in-out;

    &:hover {
      background: $range-handle-color-hover;
    }
  }

  &:active::-moz-range-thumb {
    background: $range-handle-color-hover;
  }

  &:focus {
    
    &::-webkit-slider-thumb {
      box-shadow: 0 0 0 3px $shade-0,
                  0 0 0 6px $teal;
    }
  }
}
.range-slider__value {
  display: inline-block;
  position: relative;
  width: $range-label-width;
  color: $shade-0;
  line-height: 20px;
  text-align: center;
  border-radius: 3px;
  background: $range-label-color;
  padding: 5px 10px;
  margin-left: 8px;

  &:after {
    position: absolute;
    top: 8px;
    left: -7px;
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-right: 7px solid $range-label-color;
    border-bottom: 7px solid transparent;
    content: '';
  }
}
@charset "utf-8";
/* CSS Document */

.custom_bg
{
   background-color: #0096c7 !important;
}

.custom_help_support
{
   padding-top: 12px;
   padding-left: 10px;
}

.custom_help_support a
{
   color: #fff;
}

.custom_header_bg 
{
   background-color: #191919;
   color: #fff;
   margin-bottom: 12px;
}

.custom_header_bg p
{
   padding: 12px 0 0 0;
}
.custom_header_bg span
{
   border:1px solid #000;
   background:#333;
   padding: 5px;
}

.sidebar_1
{
   width: 20% !important;
   background-color:#191919;
   /*min-height: calc(100vh - 56px);*/
   min-height: 150vh;
}


.custom_header_btn
{  
   margin-top: 10px; 
}

.custom_leftpanel_form
{
   width: 80%;
}

.tab_p th
{
   background-color: #363d46;
   padding: 2px;
   border-bottom: 1px solid #333;
}
.custom_1_collapse
  {
  border:1px dotted;
  position:absolute;
  top:90px;
  left:150px;  
  color: #fff;
  }
.custom_2_collapse
{
   border:1px dotted;
   position:absolute;
   top:90px;
   left:150px;  
   color: #fff;
}
.custom_table
{
   font-size: 11px;
   text-align: center;
}
.custom_table:hover
{
   background-color: orangered;
}

.custom_side_icon
{
   font-size: 25px;
}
.custom_icon
{
   font-size: 20px !important;
   margin: 15px;
}
.custom_text
{
   color: #000 !important;
}
.custom_select
{
   color: #000!important;
   width:100%;
}

@media only screen and (max-width: 480px)
{
   .custom_res_p
   {
      /*border:1px dashed red;*/
   }
   .custom_res_p span
   {
      float: left;
   }
   #main_tab_sidebar span
   {
      width:43px !important;
   }
   .custom_1_collapse {
    border: 1px dotted;
    position: absolute;
    top: 75px;
    left: 90px;
    color: #fff;
    background: red;
    width: 180px;
    z-index: 9;
   }
   .custom_2_collapse
   {
   border:1px dotted;
   position:absolute;
   top:90px;
   left:150px;  
   color: #fff;
   background: red;
    width: 180px;
    z-index: 9;
   }
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  color: #595959;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
}
/*
.container {
  margin: 0 auto;
  padding: 0 24px;
  max-width: 960px;
}
*/
/* primary header */

.primary-header {
  padding: 24px 0;
  text-align: center;
  border-bottom: solid 2px #cfcfcf;
}

.primary-header__title {
  color: #393939;
  font-size: 36px;
}

.primary-header__title small {
  font-size: 18px;
  color: #898989;
}

/* content */

.content {
  padding: 48px 0;
  border-bottom: solid 2px #cfcfcf;
}

.content__footer {
  margin-top: 12px;
  text-align: center;
}

/* footer */

.primary-footer {
  padding: 24px 0;
  color: #898989;
  font-size: 14px;
  text-align: center;
}

/* tasks */

.tasks {
  list-style: none;
  margin: 0;
  padding: 0;
}

.task {
  display: flex;
  justify-content: space-between;
  padding: 12px 0;
  border-bottom: solid 1px #dfdfdf;
}

.task:last-child {
  border-bottom: none;
}

/* context menu */

.context-menu {
  display: none;
  position: absolute;
  z-index: 10;
  padding: 12px 0;
  width: 240px;
  background-color: #fff;
  border: solid 1px #dfdfdf;
  box-shadow: 3px 3px 6px #cfcfcf;
}

.context-menu--active {
  display: block;
}

.context-menu__items {
  list-style: none;
  margin: 0;
  padding: 0;
}

.context-menu__item {
  display: block;
  margin-bottom: 4px;
}

.context-menu__item:last-child {
  margin-bottom: 0;
}

.context-menu__link {
  display: block;
  padding: 4px 12px;
  color: #0066aa;
  text-decoration: none;
}

.context-menu__link:hover {
  color: #fff;
  background-color: #0066aa;
}
